body {
    background: #f1f1f1;
}

.homepage {
    animation-name: animasyon;
    animation-duration: 5.5s;
}

@keyframes animasyon {
    0% {
        opacity: 0.0;
    }
    25% {
        opacity: 0.0;
    }
    75% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.box2 {
    background: linear-gradient(45deg, #3ae374, #32ff7e);
    width: 550px;
    height: 110px;
}

.this {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100 lighter;
}

.iam {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.name {
    padding-left: 100px;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0;
}

.secondname {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
}

.box {
    background: linear-gradient(45deg, #3ae374, #32ff7e);
    width: 1000px;
    height: 20px;
    position: absolute;
    bottom: -20px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* -----------------------Go CV------------------------ */

.gocv {
    height: 50px;
    width: 100px;
    border: 1px solid #3ae374;
    background: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.gocv {
    color: #3ae374;
}

.gocv:hover {
    color: #fff;
}

.gocv::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3ae374;
    z-index: -1;
    transition: 0.8s;
}

.gocv::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.gocv:hover::before {
    height: 180%;
}


/* ---------------Social Buttons------------------- */

.social-buttons {
    padding-right: 300px;
}

.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-buttons a::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #3ae374, #32ff7e);
    border-radius: 5%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
    transform: scale(0);
}

.social-buttons a i {
    transition: 0.3s ease-in;
}

.social-buttons a:hover i {
    background: linear-gradient(45deg, #3ae374, #32ff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
}